<header [class.logged-in]="loggedUser" class = "wrapper row" [class.logged-out]="!loggedUser">
<!-- Logo image -->
  <p class="bold">D'Taquito</p>
  <form class="d-flex">
    <span class="text-white">{{loggedUser?.name}} </span>

    <button *ngIf="loggedUser" (click)="onEditProfile()">Profile</button>
    <!-- header.component.html -->
    <button *ngIf="loggedUser && loggedUser?.role !== 'P'" routerLink="/reservations">Ver Reservas</button>
  </form>
  <!-- Navigation -->
  <div class="row gap-1">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/about-us" routerLinkActive="active">About</a>
    <button *ngIf="loggedUser" class="btn btn-primary" type="button" (click)="onLogoff()">LogOff</button>
    <button *ngIf="!loggedUser" class="btn btn-primary" type="button" (click)="onLogin()">Login</button>
  </div>
</header>
