<p-dialog
  [header]="header"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
>
  <div class="column gap-1 form-wrapper" [formGroup]="productForm">
    <!-- Name -->
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" formControlName="name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" formControlName="price" />
    </div>

    <div class="form-group" [formGroup]="productForm">
      <label for="description">Descripción</label>
      <input type="text" class="form-control" id="description" formControlName="description" required>
    </div>

    <!-- Image URL -->
    <div class="row gap-05">
      <span class="price-label">Image URL:</span>
      <input type="text" formControlName="image" />
    </div>

    <!-- Selector de fecha -->
    <div class="row gap-05" *ngIf="!product.status">
      <span class="price-label">Fecha:</span>
      <input type="date" formControlName="date" class="form-control">
    </div>

    <!-- Selector de rango de tiempo -->
    <div class="row gap-05" *ngIf="!product.status">
      <span class="price-label">Horario:</span>
      <input type="time" formControlName="timeRange" class="form-control">
    </div>


    <p-rating
      formControlName="rating"
      [readonly]="false"
      iconCancelClass="hidden"
      class="rating"
    ></p-rating>

    <!-- Footer with action buttons -->
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="onConfirm()"
        label="Confirm"
        [class.disabled]="!productForm.valid"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="onCancel()"
        label="Cancel"
      ></button>

    </p-footer>
  </div>
</p-dialog>
